<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>

    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
     <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

  

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                
                <h2 class="products-title">Novedades</h2>
            </div>
            
            <% for (let i = 0; i < lista.length; i++) { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    
                    <a href="/product/id/<%=lista[i].id_producto%>">
                        <figure class="product-box_image">
                            <img src= <%= lista[i].imagen_producto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= lista[i].nombre_producto%></h2>
                            <p><%= lista[i].descripcion %></p>
                            <p>Comentarios: <%= lista[i].Comentario.length%></p>
                            <p><a href="/user/profile/id/<%=lista[i].Usuario.id_usuario%>">Creado por: <%= lista[i].Usuario.nombre_usuario%></p></a>

                        </article>
                    </a>
                </section>
            </div>
            <%} %>
        </a>
        </div>
    </div>

    <!-- /Novedades -->

    <!-- Más comentados -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Más comentados</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <% for (let i = 6; i < lista.length; i++) { %>
                <div class="col-12 col-sm-6 col-lg-3">
                    <section class="product-box">
                        
                        <a href="/product/id/<%=lista[i].id_producto%>">
                            <figure class="product-box_image">
                                <img src= <%= lista[i].imagen_producto %> alt="cafetera moulinex">
                            </figure>
                            <article class="product-box_data">
                                <h2><%= lista[i].nombre_producto%></h2>
                                <p><%= lista[i].descripcion %></p>
                                <p>Comentarios: <%= lista[i].Comentario.length%></p>
                                <p><a href="/user/profile/id/<%=lista[i].Usuario.id_usuario%>">Creado por: <%= lista[i].Usuario.nombre_usuario%></p></a>
    
                            </article>
                        
                    </section>
                </div>
                <%} %>
       
    <!-- /Más comentados -->
    <%- include('./partials/footer')%>
        <!-- /footer -->
</body>
</html>