<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

    <body>
        <!-- Header -->
        <% if (locals.user !=undefined) { %>
            <%- include('./partials/headerLogueado') %>
                <% } else { %>
                    <%- include('./partials/header') %>
                          <% } %>
                            <!-- /Header -->

                            <!-- Novedades -->
                            <div class="container products-wrapper">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="products-title">Actualizar productos</h2>
                                    </div>

                                    <!-- Show the "ultimos" products -->
                                    <form class='formulario' action="/product/update" method="POST">

                                        <input type="hidden" name="id" value="<%= producto.id_producto %>">

                                        <label class='LabelForm'>Ruta de la imagen</label>
                                        <input class='CampoForm' type="text" id="ImagenProductoAgregado"
                                            name="imagen_producto" value="<%= producto.imagen_producto %>">
                                        <% if (locals.errors && errors.imagen_producto) { %>
                                            <p class="error">
                                                <%= errors.imagen_producto.msg %>
                                            </p>
                                            <% } %>

                                                <label class='LabelForm'>Nombre del producto</label>
                                                <input class='CampoForm' type="text" id="NombreDelProductoAgregado"
                                                    value="<%= producto.nombre_producto %>"
                                                    placeholder="Nombre del Producto" name="nombre_producto">
                                                <% if (locals.errors && errors.nombre_producto) { %>
                                                    <p class="error">
                                                        <%= errors.nombre_producto.msg %>
                                                    </p>
                                                    <% } %>

                                                        <label class='LabelForm'>Descripcion del Producto
                                                            Agregado</label>
                                                        <textarea class='CampoForm' id="DescripcionProductoAgregado"
                                                            name="descripcion"> <%= producto.descripcion %> </textarea>
                                                        <% if (locals.errors && errors.descripcion) { %>
                                                            <p class="error">
                                                                <%= errors.descripcion.msg %>
                                                            </p>
                                                            <% } %>

                                                                <button class="button">Agregar Producto</button>
                                    </form>

                                    <!-- footer -->
                                    <%- include('./partials/footer')%>
                                        <!-- /footer -->

    </body>

</html>