<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
    <!-- Header -->

    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
     <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
    <!-- /Header -->

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Resultados de búsqueda</h2>
            </div>
            <!-- Show the "ultimos" products -->

            <% for (let i = 0; i < result.length; i++) { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/product/id/<%=result[i].id_producto%>">
                        <figure class="product-box_image">
                            <img src= <%= result[i].imagen_producto %> alt="cafetera moulinex">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= result[i].nombre_producto%></h2>
                            <p><%= result[i].descripcion %></p>
                            <a href="/user/profile/id/<%= result[i].id_usuario %>"> <p>Creado por <%= result[i].Usuario.nombre_usuario %></p></a>
                            <p>Comentarios: <%= result[i].Comentario.length %></p>
                        </article>
                    </a>
                </section>
            </div>
            <%} %>

    <!-- footer -->
    <%- include('./partials/footer')%>
    <!-- /footer -->

</body>
</html>



